<!-- Pie de página con clase 'footer' y 'colorFooter' para aplicar estilos específicos -->
<footer class="footer colorFooter  rounded-top text-center">
    <!-- Contenedor con padding vertical (py-2) y márgenes (my-2) -->
    <div class="py-2 container my-2">
        <!-- Párrafo con texto blanco que muestra la información del autor y el programa -->
        <p class="text-white">
            &copy;{{autor.nombres1 + ' & ' + autor.nombres2 + ' - ' + programa.info}}
             <!-- Se muestra el nombre del autor concatenado con el nombre del programa -->
        </p>
    </div>
</footer> 